<table class='table table-success cart-list-table'>
    <tbody>
        <tr>
            <td>{{item.name | uppercase}}</td>
            <td>{{item.quantity}}</td>
            <td>{{item.amount | currency:'UAH'}}</td>
            <td>
                <button class="btn btn-secondary cart-button" (click)="onIncreaseQuantity()">+</button>
                <button class="btn btn-secondary cart-button" (click)="onDecreaseQuantity()">-</button>
                <button class="btn btn-danger cart-button" (click)="onDeleteItem()">D</button>
            </td>
        </tr>
    </tbody>
</table>