<h3 class="product-list-title">Cart List</h3>
<div>
    <div *ngIf="cartItems.length > 0; else emptyCart">
        <table class='table table-success cart-list-table'>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Quantity</th>
                    <th>Amount, HRN</th>
                    <th>Action</th>
                </tr>
            </thead>
        </table>
        <app-cart-item *ngFor="let cartItem of cartItems; trackBy: trackByItems" [item]="cartItem"
            (increaseQuantity)="onIncreaseQuantity($event)" (decreaseQuantity)="onDecreaseQuantity($event)"
            (deleteItem)="onDeleteItem($event)">
        </app-cart-item>
        <table class='table table-success cart-list-table'>
            <tbody>
                <tr>
                    <th>Total</th>
                    <th>{{getTotalQuantity()}}</th>
                    <th>{{getTotalSum()}}</th>
                    <th></th>
                </tr>
                <tr>
                    <th>Total with push</th>
                    <th>{{totalQuantity}}</th>
                    <th>{{totalSum}}</th>
                    <th></th>
                </tr>
            </tbody>
        </table>
    </div>
    <ng-template #emptyCart>
        <p>
            <img class="empty-cart-image" src="../../../assets/EmptyCart.png" alt="">
        </p>
    </ng-template>
</div>
<br>