.empty-cart-image {
    display: block;
    margin: auto;
}

.order-by-title {
    padding: 10px 0;
    font-style: italic;
    color: blue;
    text-align: center;
}

.order-by-select {
    color: blue;
}